@keyframes wwBasicFadeOut{
    0%{ opacity: 1; }
    100%{ 
        opacity: 0; 
        margin: 0;
        padding: 0;
        font-size: 0.01em;
    }
}

.alert-message {
    animation-name: wwBasicFadeOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 8s;

    border: 1px solid #424242;
    padding: 1vw 2vw;
    display: block;
    width: max-content;
    border-radius: 8px;
    box-shadow: 0.2vw 0.2vw 0.2vw #aaa;
    color: #424242;
    font-style: italic;
    position: absolute;
    right: 24px;
    background-color: white;
}
    .alert-message.error {
        border-color: #dc3545;
        color: #dc3545;
    }
    .alert-message.warning {
        border-color: #ff9900;
        color: #ff9900;
    }
    .alert-message.success {
        border-color: #28a745;
        color: #28a745;
    }
    .alert-message strong {
        font-weight: bold;
    }   
    
@media screen and (min-device-width: 1024px) {
    .alert-message {
        padding: 8px 12px;
    }
}
    
    