header {
    position: sticky;
    top: 0;
    z-index: 22;
    padding: 7px 20px;
    text-align: center;
    box-shadow: 0px 3px 5px #cccccc;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    header .header-user {
        min-width: 55px;
        padding: 8px;
        /*
        border: 1px solid;
        border-radius: 8px;
        box-shadow: 4px 4px 4px #999;
        */
    }
    header .side-nav-toggler {
        position: absolute;
    }
    header .logo {
        margin-left: 6vw;
    }
footer {
    text-align: center;
}

@media screen and (min-device-width: 480px) {
    header .logo {
        margin-left: 5vw;
    }    
}
@media screen and (min-device-width: 768px) {
    header .side-nav-toggler {
        display: none;
    }
    header .logo {
        margin-left: 0;
    }    
}
@media screen and (min-device-width: 1024px) {
}

