.global-data, 
.fieldsets-container {
    max-width: 700px;
    margin-top: 10px;
}
ul.global-data li,
.fieldsets-container fieldset li {
    display: flex;
    justify-content: space-between;
}
fieldset {
    border: 1px solid #ccc;
    box-shadow: 5px 5px 5px #ccc;
}
    fieldset legend {
        font-weight: bold;
    }
